@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Здравствуй, @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    @if (User.IsInRole("admin"))
     {
        <form method="post" asp-controller="Bonuses" asp-action="Index">
        <input type="submit" value="Управление бонусами" />
        </form>
     }
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}