@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {
        <form method="get" asp-controller="Bonuses" asp-action="Index">
            <input type="submit" class="btn btn-dark  btn btn-lg" value="Управление бонусами" />
        </form>
        <br />
        <form method="get" asp-controller="BonRequests" asp-action="Index">
            <input type="submit" class="btn btn-dark  btn btn-lg" value="Запросы от смертных" />
        </form>
        <br />
        <form method="get" asp-controller="Users" asp-action="Index">
            <input type="submit" class="btn btn-dark  btn btn-lg" value="Списки сотрудников" />
        </form>
    }
    else
    {
        <form method="get" asp-controller="Bonuses" asp-action="UserList">
            <input type="submit" class="btn btn-dark  btn btn-lg" value="Посмотреть доступные бонусы" />
        </form>
        <br />
        <form method="get" asp-controller="BonRequests" asp-action="MyRequests">
            <input type="submit" class="btn btn-dark  btn btn-lg" value="Посмотреть свои запросы" />
        </form>
        <br />
    }
}