@model CorporateBonuses.Models.User
@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Здравствуй, @User.Identity.Name</p>


    <br />
    @if (User.IsInRole("admin"))
    {
        <form method="get" asp-controller="Bonuses" asp-action="Index">
            <input type="submit" value="Управление бонусами" />
        </form>
        <br />
        <form method="get" asp-controller="BonRequests" asp-action="Index">
            <input type="submit" value="Запросы от смертных" />
        </form>
    }
    else
    {
        <form method="get" asp-controller="Bonuses" asp-action="UserList">
            <input type="submit" value="Посмотреть доступные бонусы" />
        </form>
        <br />
    }
    <br />
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}